<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name = 'author' content = 'Alex Vena'>
        <meta name = 'keywords' content = 'Alex Vena'>
        <meta name = 'description' content = 'I started my career in materials R&D after graduating with a BASc in Nanotechnology Engineering from the University of Waterloo in 2016. Over the years, I became more interested in the application of programming and mathematics to drive complex data processing and analysis.'>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marck+Script">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">

        <link rel="icon" href='static/images/personal_favicon.png'>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id='ribbonContainer'>
            <div id='ribbon'>
                <a href='/'><img id='logo' src='static/images/personal_logo.png' alt='Personal Logo'></a>

                <div id='nav' class='flex'>
                    <span><a href='/'>Home</a></span>
                    <span><a href='/portfolio'>Portfolio</a></span>
                    <span><a href='/resume'>Resume</a></span>
                    <span><a href='/articles'>Articles</a></span>
                    <span><a href='/about'>About</a></span>
                    <span><a href='/contact'>Contact</a></span>
                </div>
                <div id=navDropdown>
                    <img id='navBtn' src="static/images/icon_menu.png" alt="Menu Dropdown Button">
                    <div id='navVert' class='flex'>
                        <span><a href='/'>Home</a></span>
                        <span><a href='/portfolio'>Portfolio</a></span>
                        <span><a href='/resume'>Resume</a></span>
                        <span><a href='/articles'>Articles</a></span>
                        <span><a href='/about'>About</a></span>
                        <span><a href='/contact'>Contact</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainBody">
            {% block main %}

            {% endblock %}
            <img id='pageTopBtn' src="static/images/scroll-up.png" alt="Scroll Button">
        </div>

        <footer>
            <a href="https://github.com/a2vena" target='_blank'><img id='git' src="static/images/logo_github_120px.png" alt="GitHub Logo"></a>
            <a href="https://www.linkedin.com/in/alex-vena-8a008375/" target='_blank'><img id='linkedin' src="static/images/logo_linkedin_256px.png" alt="LinkedIn Logo"></a>
            <a href="mailto: alexvena16@gmail.com?subject=Introduction&body=Hi%20Alex!%0d%0dI%20came%20across%20your%20{Insert%20flattering%20adjective}%20website%20..."><img id='mail' src='static/images/icon_email.png' alt='E-mail Icon'></a>

            <div>Designed by Alex Vena &copy; 2021</div>

            <script src='static/script.js'></script>
        </footer>
    </body>
</html>
